* {
    margin: 0;
    padding: 0;
}
@font-face {
    src: url(Fonts/Dukeplus/DUKEPLUS.ttf);
    font-family: MedievalFonts;
 }
.Text-1 {
    font-family: MedievalFonts;
    color: rgb(175, 201, 224);
    font-size: 50;
    text-align: center;
    padding: 10;
    background-color: rgba(0, 0, 0, 0.2);
}
body {
    background-image: url(Images/AldunBackgrounds.jpg);
    min-height: 720px;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.Main-Menu {
    /*float: right;*/
    list-style: none;
    text-align: center;
    background-color: rgb(175, 201, 224);
    padding: 3px;
    margin-bottom: 30px;
}
.Main-Menu li {
    display: inline-block;
}
.Main-Menu li a {
    background-color: rgb(175, 201, 224);
    color: black;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    font-family: MedievalFonts;
    font-size: 40;
    border-color: rgb(252, 254, 255);
    border-style: ridge;
    border-width: 4px;
    line-height: 1.75;
}
.Main-Menu li a:hover{
    background-color: white;
}
.MapBackground{
    height: 90%;
    width: 85%;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(175, 201, 224);
    border: 5px solid white;
    border-style: ridge;
}